<div>
    <h2 class="subtitle">Listado de tareas</h2>
    <p><strong>Adquiere tus papas fritas tras completar las tareas.</strong></p>
    <br>

    <div class="notification"
        [ngClass]="(tareasLength > 0) ? 'is-primary is-light' : 'is-success' ">
        Tareas en total: <span>{{tareasLength}}</span>
    </div>

    <div class="notification is-danger"
        [ngClass]="{ 'is-danger' : pendientes === tareasLength && pendientes !== 0, 
                     'is-warning': pendientes !== 0, 
                     'is-success is-light' : pendientes === 0
                    } ">
        Tareas pendientes: <span>{{pendientes}}</span>
    </div>
    
    <div class="notification" 
        [ngClass]="(completadas === tareasLength) ? 'is-primary' : 'is-link' ">
        Tareas completadas: <span>{{completadas}}</span>
    </div>

    <ng-container *ngIf="pendientes === 0 && completadas !== 0">
        <hr>
        <h1 class="title">
            ¡¡¡Papas fritas adquiridas!!!<br>
            <span class="material-symbols-outlined">
                sentiment_very_satisfied
            </span>
        </h1>
    </ng-container>
</div>
