<div>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Actividad</th>
          <th> </th>
          <th>Completar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let elem of tareas; index as i;">
          <th>{{i+1}}</th>
          <td><b>{{elem.tarea}}</b></td>
          <th>
            <ng-container *ngIf="elem.completada; else noCompletada;">
              <span class="material-symbols-outlined">
                done_outline
              </span>
            </ng-container>
            <ng-template #noCompletada>
              <span class="material-symbols-outlined">
                priority_high
              </span>
            </ng-template>
          </th>
          <td><button class="button is-link" (click)="tareaCompletar(i)">Completar</button></td>
          <td><button class="button is-danger" (click)="tareaDelete(i)" [disabled]="elem.completada">Eliminar</button></td>
        </tr>
      </tbody>
    </table>
</div>
